@charset "UTF-8";


body{
    background-color: #FDFBE2;
    margin: 0;
}

img{
    width: 100%;
    padding: 0;
}




/*header*/
.header{
    padding: 1vw 4vw 1vw;
}
@media screen and (max-width:768px) {
    .header{
    position: fixed;
    width: 100%;
    height: 14vw;
    background-color: #fff;
    padding: 15px 0;
    z-index: 100;
}
}
@media screen and (max-width:428px) {
    .header{
    height: 10vw;
    display: flex;
    align-items: flex-end;
}
}

.header-inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width:768px) {
    .header-inner{
        position: fixed;
        background-color: #fff;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}

.header-logo{display: block !important;}
.header-logo768{display: none !important;}

.header-logo{
    width: 622px;
}

@media screen and (max-width:1600px) {
    .header-logo{
        width: 454px;
        height: 160px;
    }
}

@media screen and (max-width:768px) {
    .header-logo{
        width: 38.8vw;
        height: 13.6vw;
    }
    .header-logo{display: none !important;}
    .header-logo768{display: block !important;}

    .header-logo768{
        width: 536px;
        height: 114px;
        margin-left: 30px;
    }
}
@media screen and (max-width:428px) {
    .header-logo{
        width: 232px;
        height: 70px;
        margin-top: 102px;
    } 
    .header-logo768{
        width: 226px;
        height: 45px;
        margin-left: 20px;
    }
}

.sp-nav-btn{
    display: none;
}

@media screen and (max-width:768px) {
    .sp-nav-btn{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 75px;
        height: 47px; 
        margin-right: 50px;
        transition: all 0.3s linear;
    }

    .sp-nav-btn div{
        width: 100%;
        height: 0.4vw;
        background-color: #000;
        transition: all 0.3s linear;
    }

    .sp-nav-btn.active div{
        background-color: #000;
        transition: all 0.3 linear;
    }

    .sp-nav-btn.active{
        transition: all 0.3s linear;  
    }

    .sp-nav-btn.active div:nth-child(1){   
        transform:translateY(51px) rotate(45deg); 
        transition: all 0.3s linear;            
    }

    .sp-nav-btn.active div:nth-child(3){
        transform: translateY(8px) rotate(-45deg);    
        transition: all 0.3s linear;
    }

    .sp-nav-btn.active div:nth-child(2){
        transition: all 0.3s linear;
        width: 0;
    }

    .sp-nav-btn.active{
        transition: all 0.3s linear; 
        position: fixed;
        top: 22px;
        right: 6px;
        z-index:80;
    }
}

@media screen and (max-width:428px) {
    .sp-nav-btn{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 47px;
        height: 29px; 
        margin-right: 50px;
        transition: all 0.3s linear;
    }

    .sp-nav-btn div{
        width: 100%;
        height: 0.4vw;
        background-color: #000;
        transition: all 0.3s linear;
    }

    .sp-nav-btn.active div{
        background-color: #000;
        transition: all 0.3 linear;
    }

    .sp-nav-btn.active{
        transition: all 0.3s linear;  
    }

    .sp-nav-btn.active div:nth-child(1){   
        transform:translateY(13px) rotate(45deg); 
        transition: all 0.3s linear;            
    }

    .sp-nav-btn.active div:nth-child(3){
        transform: translateY(-14px) rotate(-45deg);    
        transition: all 0.3s linear;
    }

    .sp-nav-btn.active div:nth-child(2){
        transition: all 0.3s linear;
        width: 0;
    }

    .sp-nav-btn.active{
        transition: all 0.3s linear; 
        position: fixed;
        top: 22px;
        right: 6px;
        z-index:80;
    }
}

.nav{
    text-align: end;
}

@media screen and (max-width:1600px) {
    .nav{
        text-align: end;
        margin-right: 65px;
    }
}
.nav{
    text-align: end;
}

.nav-list{
    display: flex;
    width: 26vw;
    list-style: none;
    font-family: 'Kalam', cursive;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Zen Maru Gothic', sans-serif;
}
@media screen and (max-width:1600px) {
    .nav-list{
        display: flex;
        width: 35vw;
        padding: 0;
        list-style: none;
        font-family: 'Kalam', cursive;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-family: 'Zen Maru Gothic', sans-serif;
    }
}
@media screen and (max-width:768px) {
    .nav-list{
        display: none;
    }
    
    .nav.active{
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 690px;
        z-index:70;
        font-family: 'Kalam', cursive;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-family: 'Zen Maru Gothic', sans-serif;
    }

    .nav.active ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:428px) {
    .nav.active{
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 445px;
        z-index:70;
        font-family: 'Kalam', cursive;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-family: 'Zen Maru Gothic', sans-serif;
    }
}

.nav-list-item a{
    text-decoration: none;
    color: #332E01;
    font-size:30px;
    margin-right: 1.5vw;
}
@media screen and (max-width:1600px) {
    .nav-list-item a{
        text-decoration: none;
        color: #332E01;
        font-size:30px;
        margin-right: 2.5vw;
    }
}
@media screen and (max-width:768px) {
    .nav-list-item a{
        display: block;
        text-decoration: none;
        color: #332E01;
        font-size:30px;
        background-color: #D3D1BF;
        border:solid 1px #707070;
        padding: 12px 768px;
    }
}
@media screen and (max-width:428px) {
    .nav-list-item a{
        display: block;
        text-decoration: none;
        color: #332E01;
        font-size:20px;
        background-color: #D3D1BF;
        border:solid 1px #707070;
        padding: 10px 768px;
    }
}







/*main*/
.mv-1920{ display: block !important;}
.mv-768{ display: none !important;}

.mv-1920{
    height: 44vw;
}

@media screen and (max-width:768px) {
    .mv-1920{ display: none !important;}
    .mv-768{ display: block !important;
            padding-top: 17.8vw;}
    
}
@media screen and (max-width:428px) {
    .mv-1920{ display: none !important;}
    .mv-768{ display: block !important;}
    
}


/*section-Profile*/
.section-Profile{
    background-image: url(./imags/background-shape-1920.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    position: relative;
    height: 77vw;
    color:#332E01;
}
@media screen and (max-width:768px) {
    .section-Profile{
        background-image: url(./imags/background-shape-768.png);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        position: relative;
        height: 183vw;
        color:#332E01;
    }
}
@media screen and (max-width:428px) {
    .section-Profile{
        background-image: url(./imags/background-shape-428.png);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        position: relative;
        height: 243.9vw;
        color:#332E01;
    }
}

.section-profile-items{
    display: flex;
    justify-content: space-between;
    width: 83.6vw;
    margin-top: 168px;
}
@media screen and (max-width:768px) {
    .section-profile-items{
        display: unset;
        width: 83.6vw;
        margin-top: 16.4vw;
    }
    
}

.section-profile-items-img-top-1920{
    width: 28.7vw;
    height: 34.3vw;
    margin-top: -50px;
}

@media screen and (max-width:768px) {
    .section-profile-items-img-top-1920{
        width: 43.2vw;
        height: 53.1vw;
        margin-left: 5vw;
        margin-top: -5vw;
    }
}
@media screen and (max-width:428px) {
    .section-profile-items-img-top-1920{
        width: 52.8vw;
        height: 63vw;
        margin-left: 5vw;
        margin-top: -5vw;
    }
}

@media screen and (max-width:768px) {
    .section-profile-items-text{
        margin-top:30vw;
        text-align: center;
}
}
@media screen and (max-width:428px) {
    .section-profile-items-text{
        margin:40vw auto;
        text-align: center;
}
}

.section-profile-items-title-IMG{
    text-align: center;
}

.section-profile-items-title-img{
    width: 14.7vw;
    height: 6.5vw;
    margin: 0 auto;
}
@media screen and (max-width:768px) {
    .section-profile-items-title-img{
        width: 18.4vw;
        height: 8.2vw;
        text-align: center;
    }
}
@media screen and (max-width:428px) {
    .section-profile-items-title-img{
        width:33vw;
        height: 14.7vw;
        text-align: center;
    }
}

.section-profile-items-list{
    list-style: none;
    padding: 0;
    font-family: 'Kalam', cursive;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Zen Maru Gothic', sans-serif;
}
@media screen and (max-width:768px) {
    .section-profile-items-list{
        list-style: none;
        padding: 0;
        margin: 0 auto;
        width: 69vw;
        font-family: 'Kalam', cursive;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-family: 'Zen Maru Gothic', sans-serif;
    }
}
@media screen and (max-width:428px) {
    .section-profile-items-list{
        list-style: none;
        padding: 0;
        margin: 0 auto;
        width: 89vw;
        font-family: 'Kalam', cursive;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-family: 'Zen Maru Gothic', sans-serif;
    }
}

.profile-name{
    font-size:2.6vw;
    margin-bottom: 2vw;
    
}
@media screen and (max-width:768px) {
    .profile-name{
        font-size:4.1vw;
        margin-bottom: 2vw;
    }
}
@media screen and (max-width:428px) {
    .profile-name{
        font-size:7.4vw;
        margin-bottom: 2vw;
    }
}

.profile-birthday{
    font-size:1.5vw;
}
@media screen and (max-width:768px) {
    .profile-birthday{
        font-size:2.8vw;
    }
}
@media screen and (max-width:428px) {
    .profile-birthday{
        font-size:5.1vw;
    }
}

.profile-school,.profile-text{
    font-size:1.3vw;
    line-height: 2.6vw;
}
@media screen and (max-width:768px) {
    .profile-school{
        font-size:2.8vw;
        line-height: 4.2vw;
    }
}
@media screen and (max-width:428px) {
    .profile-school{
        font-size:3.7vw;
        line-height: 7.7vw;
    }
}
@media screen and (max-width:768px) {
    .profile-text{
        font-size:2.8vw;
        line-height: 4.8vw;
    }
}
@media screen and (max-width:428px) {
    .profile-text{
        font-size: 3.7vw;
        line-height: 6.5vw;
    }
}

.section-profile-items-list-item-p{
    width: 36vw;
    margin-bottom: 2vw;;
}
@media screen and (max-width:768px) {
    .section-profile-items-list-item-p{
        width: 69vw;
        margin-top: 5.3vw;
        margin-bottom: 2vw;
    }
}
@media screen and (max-width:428px) {
    .section-profile-items-list-item-p{
        width: 89vw;
        margin-top: 5.3vw;
        margin-bottom: 2vw;
    }
}

@media screen and (max-width:768px) {
    .profile-text-1920{
        display: none;
    }
}

.profile-text-428{
    display: none;
}
@media screen and (max-width:428px) {
    .profile-text-428{
        display: block;
    }
    .profile-text-1920{
        display: none;
    }
}

.section-profile-items-img-bottom-1920{
    position: absolute;
    width: 27.2vw;
    height: 23.3vw;
    top:35vw;
    left: 23vw;
}
@media screen and (max-width:768px) {
    .section-profile-items-img-bottom-1920{
        position: absolute;
        width: 35.9vw;
        height: 30.8vw;
        top:52vw;
        left: 48vw;
    }
}
@media screen and (max-width:428px) {
    .section-profile-items-img-bottom-1920{
        position: absolute;
        width: 48vw;
        height: 35vw;
        top:63vw;
        left: 45vw;
    }
}





/*section-like*/
.section-like{
    background-color: #E4F4EC;
    height: 78vw;
    color: #022613;
}
@media screen and (max-width:768px) {
    .section-like{
        background-color: #E4F4EC;
        height: 230vw;
        color: #022613;
    }
}
@media screen and (max-width:428px) {
    .section-like{
        background-color: #E4F4EC;
        height: 568vw;
        color: #022613;
    }
}

.section-like-items-top-items{
    display: flex;
    padding-top: 8.2vw;
}
@media screen and (max-width:768px) {
    .section-like-items-top-items{
        display: unset;
        padding-top: 8.2vw;
    }
}

.section-like-items-top-items-img-1920{
    width: 56.7vw;
    height: 29.4vw;
}
@media screen and (max-width:768px) {
    .section-like-items-top-items-img-1920{
        width: 81.9vw;
        height: 42.5vw;
        margin-top: 11.8vw;
    }
}
@media screen and (max-width:428px) {
    .section-like-items-top-items-img-1920{
        width: 91.3vw;
        height: 60vw;
        margin-top: 11.8vw;
    }
}

.section-like-items-top-items-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.section-Like-items-title-img{
    width: 10.2vw;
    height: 6.5vw;
    margin-top: 5vw;
}
@media screen and (max-width:768px) {
    .section-Like-items-title-img{
        width: 12.7vw;
        height: 8.2vw;
    }
}
@media screen and (max-width:428px) {
    .section-Like-items-title-img{
        width: 24.5vw;
        height: 14.7vw;
    }
}

.section-like-items-top-items-text-p{
    width: 18.2vw;
    font-size:1vw;
    line-height: 2.8vw;
    text-align: center;
    font-family: 'Kalam', cursive;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Zen Maru Gothic', sans-serif;
}
@media screen and (max-width:768px) {
    .section-like-items-top-items-text-p{
        width: 32.8vw;
        font-size:2.3vw;
        text-align: center;
        line-height: 5.2vw;
        font-family: 'Kalam', cursive;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-family: 'Zen Maru Gothic', sans-serif;
    }
}
@media screen and (max-width:428px) {
    .section-like-items-top-items-text-p{
        width: 60vw;
        font-size:4.2vw;
        text-align: center;
        line-height: 8vw;
        font-family: 'Kalam', cursive;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-family: 'Zen Maru Gothic', sans-serif;
    }
}

.section-like-items-bottom-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 6.8vw;
    padding: 0;
}
@media screen and (max-width:768px) {
    .section-like-items-bottom-list{
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: 35.4vw 35.4vw;
        list-style: none;
        margin-top: 6.8vw;
        padding: 0;
    }
}
@media screen and (max-width:428px) {
    .section-like-items-bottom-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        margin-top: 6.8vw;
        padding: 0;
    }
}

.section-like-items-bottom-list-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 78.4vw;
}
@media screen and (max-width:768px) {
    .section-like-items-bottom-list-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35.4vw;
        margin-bottom: 9.3vw;
    }
}
@media screen and (max-width:428px) {
    .section-like-items-bottom-list-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35.4vw;
        margin-bottom: 13vw;
    }
}

.section-like-items-bottom-list-item-img-1920{
    width: 13.5vw;
    height: 13.1vw;
}
@media screen and (max-width:768px) {
    .section-like-items-bottom-list-item-img-1920{
        width: 24.6vw;
        height: 23.9vw;
    }
}
@media screen and (max-width:428px) {
    .section-like-items-bottom-list-item-img-1920{
        width: 44.1vw;
        height: 42.9vw;
    }
}

.section-Like-kinds-items-title-img{
    width: 10vw;
    height: 4.2vw;
    margin: 1.4vw 0;
}
@media screen and (max-width:768px) {
    .section-Like-kinds-items-title-img{
        width: 11.5vw;
        height: 4.9vw;
        margin: 2.5vw 0;
    }
}
@media screen and (max-width:428px) {
    .section-Like-kinds-items-title-img{
        width: 20.7vw;
        height: 8.8vw;
        margin: 4vw 0;
    }
}

.section-like-items-bottom-list-item-p{
    width: 18vw;
    font-size:1vw;
    line-height: 2vw;
    margin: 0;
    font-family: 'Kalam', cursive;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Zen Maru Gothic', sans-serif;
}
@media screen and (max-width:768px) {
    .section-like-items-bottom-list-item-p{
        width: 36.4vw;
        font-size:2vw;
        text-align: center;
        line-height: 4.5vw;
        margin: 0;
        font-family: 'Kalam', cursive;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-family: 'Zen Maru Gothic', sans-serif;
    }
}
@media screen and (max-width:428px) {
    .section-like-items-bottom-list-item-p{
        width: 70vw;
        font-size:3.7vw;
        text-align: center;
        line-height: 8vw;
        margin: 0;
        font-family: 'Kalam', cursive;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-family: 'Zen Maru Gothic', sans-serif;
    }
}






/*section-logo*/
.section-logo{
    margin-top: 17.2vw;
}

.section-Logo-items-title-IMG{
    text-align: center;
    margin-bottom: 2.6vw;
}

.section-Logo-items-title-img{
    width: 10.8vw;
    height: 6.5vw;
    margin: 0 auto;
}
@media screen and (max-width:768px) {
    .section-Logo-items-title-img{
        width: 13.6vw;
        height: 8.2vw;
    }
}
@media screen and (max-width:428px) {
    .section-Logo-items-title-img{
        width: 24.5vw;
        height: 14.7vw;
    }
}

.section-logo-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #EDE8E8;
    box-shadow: 3vw -2vw 0 #E3ABA6;
    width: 79vw;
    height: 38.3vw;
    margin-left: 18vw;
}
@media screen and (max-width:768px) {
    .section-logo-items{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #EDE8E8;
        box-shadow: 3vw -2vw 0 #E3ABA6;
        width: 88.2vw;
        height: 125.9vw;
        margin-left: 8.5vw;
    }
}
@media screen and (max-width:428px) {
    .section-logo-items{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #EDE8E8;
        box-shadow: 3vw -2vw 0 #E3ABA6;
        width: 83.6vw;
        height: 192vw;
        margin-left: 13.5vw;
    }
}

.section-logo-items-img-1920{
    width: 25vw;
    height: 24vw;
}
@media screen and (max-width:768px) {
    .section-logo-items-img-1920{
        width: 47.3vw;
        height: 45.2vw;
    }
}
@media screen and (max-width:428px) {
    .section-logo-items-img-1920{
        width: 62.8vw;
        height: 63vw;
    }
}

.section-logo-items-text{
    color: #3C0000;
    font-family: 'Kalam', cursive;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Zen Maru Gothic', sans-serif;
}
@media screen and (max-width:768px) {
    .section-logo-items-text{
        width: 83.3vw;
        color: #3C0000;
        font-family: 'Kalam', cursive;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-family: 'Zen Maru Gothic', sans-serif;
    }
}

.section-logo-items-text-h3{
    text-align: center;
}

.section-logo-items-text-p{
    width: 33vw;
    font-size: 1vw;
    line-height: 2.2vw;
    margin-top: 2.2vw;
    margin-bottom: 0;
}
@media screen and (max-width:768px) {
    .section-logo-items-text-p{
        width: 83.3vw;
        font-size: 2.6vw;
        text-align: center;
        line-height: 5vw;
        margin-top: 6vw;
        margin-bottom: 0;
    }
}
@media screen and (max-width:428px) {
    .section-logo-items-text-p{
        width: 83.3vw;
        font-size: 3.7vw;
        text-align: center;
        line-height: 7vw;
        margin-top: 6vw;
        margin-bottom: 0;
    }
}

.logo-428{
    display: none;
}
.logo-768{
    display: none;
}
@media screen and (max-width:768px) {
    .logo-768{
        display: block;
    }
}
@media screen and (max-width:428px) {
    .logo-428{
        display: block;
    }
}





/*section-Work*/
.section-Work{
    margin-top: 15vw;
    margin-bottom: 10vw;
    color: #332E01;
}
@media screen and (max-width:1600px) {
    .section-Work{
        margin-top: 5vw;
        color: #332E01;
    }
}
@media screen and (max-width:428px) {
    .section-Work{
        margin-top: 40vw;
        color: #332E01;
    }
}

.section-Work-items-title-IMG{
    text-align: center;
    margin-bottom:2.2vw;
}

.section-Work-items-title-img{
    width: 12.6vw;
    height: 6.5;
}
@media screen and (max-width:768px) {
    .section-Work-items-title-img{
        width: 15.8vw;
        height: 8.2;
    }
}
@media screen and (max-width:428px) {
    .section-Work-items-title-img{
        width: 24.5vw;
        height: 14.7vw;
    }
}

.section-Work-coding{
    width: 15vw;
    height: 8vw;
}
@media screen and (max-width:768px) {
    .section-Work-coding{
        width: 17vw;
        height: 8vw;
    }
}
@media screen and (max-width:428px) {
    .section-Work-coding{
        width: 37vw;
        height: 18vw;
    }
}

.section-Work-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-Work-item-img{
    width: 20.9vw;
    height: 27.9vw;
    box-shadow: 0 0 1.4vw rgba(69, 64, 3, .5);
}
@media screen and (max-width:768px) {
    .section-Work-item-img{
        width: 38.5vw;
        height: 51.3vw;
        box-shadow: 0 0 2.9vw rgba(69, 64, 3, .5);
    }
}
@media screen and (max-width:428px) {
    .section-Work-item-img{
        width: 51.4vw;
        height: 66.8vw;
        box-shadow: 0 0 5.3vw rgba(69, 64, 3, .5);
    }
}

.section-Work-item-p{
    font-size: 1vw;
    text-align: center;
    line-height: 2.2vw;
    margin-top: 1.5vw;
    font-family: 'Kalam', cursive;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Zen Maru Gothic', sans-serif;
}
@media screen and (max-width:768px) {
    .section-Work-item-p{
        font-size: 2.9vw;
        text-align: center;
        line-height: 4vw;
        margin-top: 2vw;
        font-family: 'Kalam', cursive;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-family: 'Zen Maru Gothic', sans-serif;
    }
}
@media screen and (max-width:428px) {
    .section-Work-item-p{
        font-size: 3.7vw;
        text-align: center;
        margin-top: 7vw;
        line-height: 7vw;
        font-family: 'Kalam', cursive;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-family: 'Zen Maru Gothic', sans-serif;
    }
}

.section-Work-webdesign{
    margin-top: 9vw;
    width: 17vw;
    height: 7vw;
}
@media screen and (max-width:768px) {
    .section-Work-webdesign{
        width: 27vw;
        height: 12vw;
    }
}
@media screen and (max-width:428px) {
    .section-Work-webdesign{
        width: 38vw;
        height: 17vw;
    }
}

.section-Work-webdesign-IMG-item{
    display: flex;
    justify-content: center;
    margin-top: 4vw;
}

.section-Work-webdesign-IMG{
    width: 54%;
}
@media screen and (max-width:1600px) {
    .section-Work-webdesign-IMG{
        width: 56%;
    }
}
@media screen and (max-width:768px) {
    .section-Work-webdesign-IMG{
        width: 68%;
    }
}
@media screen and (max-width:428px) {
    .section-Work-webdesign-IMG{
        width: 85%;
    }
}

.section-Work-webdesign-img{
    width: 12vw;
    height: 16vw;
    margin-right: 18px;
    margin-bottom: 30px;
}

@media screen and (max-width:768px) {
    .section-Work-webdesign-img{
        width: 31vw;
        height: 41vw;
    }
}
@media screen and (max-width:428px) {
    .section-Work-webdesign-img{
        width: 39vw;
        height: 52vw;
        margin-right: 10px;
        margin-bottom: 9px;
    }
}




/*section-Skill*/
.section-Skill{
    margin-bottom: 15vw;
}

.section-Skill-title-img{
    margin: auto;
    width: 12vw;
    height: 6vw;
}
@media screen and (max-width:768px) {
    .section-Skill-title-img{
        width: 15vw;
        height: 8vw;
    }
}
@media screen and (max-width:428px) {
    .section-Skill-title-img{
        width: 27vw;
        height: 14vw;
    }
}

.section-Skill-img{
    display: flex;
    justify-content: center;
    margin-top: 4vw;
}
@media screen and (max-width:768px) {
    .section-Skill-img{
        display: grid;
        gap: 20px;
        grid-template-columns: 22vw 22vw ;
    }
}
@media screen and (max-width:428px) {
    .section-Skill-img{
        display: grid;
        gap: 20px;
        grid-template-columns: 28vw 28vw ;
    }
}

.skill-img{
    width: 11vw;
    height: 9vw;
    margin-right: 50px;
}
@media screen and (max-width:768px) {
    .skill-img{
        width: 22vw;
        height: 19vw;
    }
}
@media screen and (max-width:428px) {
    .skill-img{
        width: 28vw;
        height: 24vw;
    }
}

.skill-vsc{
    width: 14vw;
    height: 9vw;
}
@media screen and (max-width:768px) {
    .skill-vsc{
        width: 27vw;
        height: 19vw;
    }
}
@media screen and (max-width:428px) {
    .skill-vsc{
        width: 31vw;
        height:22vw;
    }
}









/*section-Dream*/
.section-Dream{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vw;
    margin-top: 8vw;
    color: #332E01;
}
@media screen and (max-width:428px) {
    .section-Dream{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20vw;
        padding-bottom: 5vw;
        color: #332E01;
    }
}

.section-Dream-items-title-img{
    width: 14.7vw;
    height: 6.5vw;
}
@media screen and (max-width:768px) {
    .section-Dream-items-title-img{
        width: 18.4vw;
        height: 8.2vw;
    }
}@media screen and (max-width:428px) {
    .section-Dream-items-title-img{
        width: 24.5vw;
        height: 14.7vw;
    }
}

.section-Dream-text{
    background-image: url(./imags/dream-shape-1920.png);
    background-position: center;
    background-size: cover;
    width: 85.3vw;
    height: 41.1vw;
    font-family: 'Kalam', cursive;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Zen Maru Gothic', sans-serif;
}
@media screen and (max-width:768px) {
    .section-Dream-text{
        background-image: url(./imags/dream-shape-768.png);
        background-position: center;
        background-size: cover;
        width: 99vw;
        height: 141vw;
        font-family: 'Kalam', cursive;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-family: 'Zen Maru Gothic', sans-serif;
    }
}
@media screen and (max-width:428px) {
    .section-Dream-text{
        background-image: url(./imags/dream-shape-428.png);
        background-position: center;
        background-size: cover;
        width: 100vw;
        height: 276vw;
        margin-bottom: 25vw;
        font-family: 'Kalam', cursive;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-family: 'Zen Maru Gothic', sans-serif;
    }
}

.section-Dream-text-1920{display: block !important;}
.section-Dream-text-428{display: none !important;}

.section-Dream-text-1920{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 4vw;
}
@media screen and (max-width:768px) {
    .section-Dream-text-1920{
        display: flex;
        flex-direction: column;
        width: 72.6vw;
        margin:20vw auto;
    }
}

@media screen and (max-width:428px) {
    .section-Dream-text-1920{display: none !important;}
    .section-Dream-text-428{display: block !important;}

    .section-Dream-text-428{
        margin-top: 38.7vw;
    }
}

.section-Dream-text-p{
    font-size: 1vw;
    line-height: 1.7vw;
    margin-top: 2vw;
    margin-bottom: 0;
    color: #10242C;
}
@media screen and (max-width:768px) {
    .section-Dream-text-p{
        font-size: 2.3vw;
        line-height: 4.2vw;
        width: 72.6vw;
        text-align: center;
        margin-top: 6.2vw;
        margin-bottom: 0;
        color: #10242C;
    }
}
@media screen and (max-width:428px) {
    .section-Dream-text-p{
        font-size: 3.7vw;
        line-height: 7.7vw;
        width: 97.1vw;
        text-align: center;
        margin-top: 6.2vw;
        margin-bottom: 0;
        color: #10242C;
    }
}

.Dream-768{
    display: none;
}
@media screen and (max-width:768px) {
    .Dream-768{
        display: block;
    }
}



